<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Guess the Number</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>

    <div class="container">

        <div class="jumbotron">
            <h1>Welcome to guess the hidden Number</h1>
            <p> Please enter a number between 1 and 100 </p>
        </div>

        <form method="post" action="/">
            <input name="number" placeholder="Enter a number">
            <button type="submit"> Submit </button>
        </form>

        {% if guessed_number %}
        <h3> Correct, Hidden Number is: {{ guessed_number }} </h3>
        {% elif hidden_number %}
        <h3> Sorry, Hidden Number was: {{ hidden_number }} </h3>
        {% endif %}

    </div>

</body>

</html>
